
@import "http://fonts.googleapis.com/css?family=Raleway:800,700,400";
@import "http://fonts.googleapis.com/css?family=Signika:400,600";
ul {
    list-style: outside none none;
}
.figure {
    margin: 0;
}
img {
    max-width: 100%;
}
a, a:hover, a:active {
    outline: 0 none !important;
    text-decoration: none;
}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix::after {
    clear: both;
}
.grid figure {
    background: #3085a3 none repeat scroll 0 0;
    cursor: pointer;
    float: left;
    margin: 10px 1%;
    max-height: 360px;
    max-width: 480px;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 48%;
}
.grid figure img {
    display: block;
    max-width: 100%;
    min-height: 100%;
    opacity: 0.8;
    position: relative;
}
.grid figure figcaption {
    backface-visibility: hidden;
    color: #fff;
    font-size: 1.25em;
    padding: 2em;
    text-transform: uppercase;
}
.grid figure figcaption::before, .grid figure figcaption::after {
    pointer-events: none;
}
.grid figure figcaption, .grid figure figcaption > a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.grid figure figcaption > a {
    font-size: 0;
    opacity: 0;
    text-indent: 200%;
    white-space: nowrap;
    z-index: 1000;
}
.grid figure h2 {
    font-weight: 300;
    word-spacing: -0.15em;
}
.grid figure h2 span {
    font-weight: 800;
}
.grid figure h2, .grid figure p {
    margin: 0;
}
.grid figure p {
    font-size: 68.5%;
    letter-spacing: 1px;
}
figure.effect-oscar {
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%) repeat scroll 0 0;
}
figure.effect-oscar img {
    opacity: 0.9;
    transition: opacity 0.35s ease 0s;
}
figure.effect-oscar figcaption {
    background-color: rgba(10, 21, 37, 0.81);
    padding: 3em;
    transition: background-color 0.35s ease 0s;
}
figure.effect-oscar figcaption::before {
    border: 1px solid #fff;
    bottom: 30px;
    content: "";
    left: 30px;
    position: absolute;
    right: 30px;
    top: 30px;
}
figure.effect-oscar h2 {
    color: #a3a3a3;
    margin: 20% 0 10px;
    transform: translate3d(0px, 100%, 0px);
    transition: transform 0.35s ease 0s;
}
figure.effect-oscar figcaption::before, figure.effect-oscar p {
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
}
figure.effect-oscar:hover h2 {
    color: #ffffff;
    transform: translate3d(0px, 0px, 0px);
}
figure.effect-oscar:hover figcaption::before, figure.effect-oscar:hover p {
    color: #fff;
    opacity: 1;
    transform: scale(1);
}
figure.effect-oscar:hover figcaption {
    background-color: rgba(58, 52, 42, 0);
}
figure.effect-oscar:hover img {
    opacity: 0.4;
}
body {
    background: #fff none repeat scroll 0 0;
    color: #888888;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
h2 {
    color: #222222;
    font-family: "Raleway",sans-serif;
    font-size: 38px;
    font-weight: normal;
    margin: 0 0 25px;
    text-align: center;
    text-transform: uppercase;
}
h3 {
    color: #222222;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 5px;
}
h6 {
    color: #888888;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 60px;
    text-align: center;
}
p {
    line-height: 24px;
    margin: 0;
}
#header_wrapper {
    background: #0a1525 none repeat scroll 0 0;
    box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.44);
    padding: 15px 0;
    position: relative;
}
.header_box {
    position: relative;
}
.logo a {
    color: #ff6c71;
    float: left;
    font-size: 28px;
    line-height: 50px;
}
.res-nav_click {
    display: none;
}
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
.navbar {
    border: 0 solid #fff;
    margin-bottom: 0;
    min-height: 40px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #d2d2d2;
}
.navStyle {
    float: right;
}
.navStyle ul {
    list-style: outside none none;
    padding: 0;
}
.navStyle ul li {
    display: inline-block;
    margin: 0 5px;
}
.navStyle ul li:first-child {
}
.navStyle ul li:last-child {
    margin: 0 0 0 23px;
}
.navStyle ul li a {
    color: #222222;
    display: block;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
}
.navStyle ul li a:hover {
    color: #ed5441;
}
.navStyle > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    color: #ed5441;
    text-decoration: none;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
    border-radius: 4px;
    color: #f74d4d;
}
.navStyle > li.active > a, .navStyle > li.active > a:hover {
    background-color: transparent;
    color: #ed5441;
    text-decoration: none;
}
.borderLeft {
    border-left: 1px solid #dadada;
}
.borderTop {
    border-top: 1px solid #dadada;
    margin-top: 30px;
}
.mrgTop {
    margin-top: 30px;
}
.text-center {
    text-align: center;
}
#head {
    background: #f4f4f4 url("../images/desi.jpg") repeat scroll center top / cover ;
    color: #7c7c7c;
    padding: 120px 0;
}
#head img.img-circle {
    border: 8px dotted rgba(255, 255, 255, 0.23);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    display: block;
    height: 140px;
    margin: 0 auto 20px;
    overflow: hidden;
    width: 140px;
}
#head .title {
    font-family: Alice,Georgia,serif;
    font-size: 3.0625rem;
}
#head .title a {
    color: #333333;
    text-decoration: none;
}
#head .tagline {
    color: #7c7c7c;
    display: block;
    font-size: 0.875rem;
    line-height: 1.2em;
    margin: 5px 0 0;
}
#head .tagline b {
    font-weight: normal;
}
#head .tagline a {
    color: #5e5e5e;
}
.home #head {
    padding: 90px 0;
}
.home #head .title {
    font-size: 3.0625rem;
}
.home #head .tagline {
    font-size: 1rem;
    margin: 15px 0 0;
}
.top_cont_outer {
    background: rgba(0, 0, 0, 0) url("../img/main2.jpg") no-repeat scroll 0 0 / cover ;
    position: relative;
}
.hero_section {
    padding-top: 72px;
    position: relative;
}
.hero_wrapper {
    background: rgba(10, 21, 37, 0.69) none repeat scroll 0 0;
    height: 650px;
}
.white_pad {
    bottom: 0;
    position: relative;
    right: 0;
}
.white_pad img {
    bottom: 0;
    position: absolute;
    right: 0;
}
.top_left_cont {
    padding: 15px 0;
}
.top_left_cont h3 {
    color: #f56eab;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 20px;
    text-align: left;
}
.top_left_cont h2 {
    color: Red;
    font-family: "Raleway",sans-serif;
    font-size: 36px;
    line-height: 58px;
    margin: 0 0 26px;
    text-align: center;
    text-transform: capitalize;
}
.top_left_cont h2 strong {
    color: Red;
    font-size: 28px;
    font-weight: 400;
    text-transform: capitalize;
}
.top_left_cont p {
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 33px;
    margin: 0 0 30px;
    text-align: center;
}
a.read_more, a.read_more2 {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-family: "Raleway",sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: 46px;
    line-height: 46px;
    margin: 0 auto;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.2s ease-in-out 0s;
    width: 178px;
}
a.read_more {
    border: 1px solid #3c3c3c;
    color: #3c3c3c;
}
a.read_more2:hover, a.read_more:hover {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ffffff;
    color: #f74c4c;
}
a.read_more:hover {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ed5441;
    color: #ed5441;
}
div#main-nav {
    text-align: center;
    width: 100%;
}
.navbar-nav {
    width: 100%;
}
.navbar-nav > li {
    float: initial !important;
}
#service {
    background: #f74d4d none repeat scroll 0 0;
    padding: 60px 0;
}
#service h2 {
    color: #fff;
}
.service_wrapper {
    padding: 40px 0;
}
.service_section {
}
.service_block {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-align: center;
}
.service_icon {
    height: 85px;
    margin: 0 auto 25px;
    width: 90px;
}
.service_icon span {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: block;
    height: 95px;
    padding: 6px 0 0;
    width: 95px;
}
.service_icon i {
    color: #ffffff;
    display: block;
    font-size: 40px;
    margin-top: 0;
    position: relative;
    text-align: center;
    top: 20px;
    z-index: 20;
}
.service_block h3 {
    color: #fff;
    font-family: "Raleway",sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin: 35px 0 15px;
}
#service h6 {
    color: #fff;
}
.service_block p {
    color: #fff;
    font-size: 16px;
    margin: 0 0 35px;
}
#work_outer {
    background: #f9f9f9 none repeat scroll 0 0;
    padding: 70px 0;
    position: relative;
}
.work_pic {
    position: absolute;
    right: 0;
    top: 25%;
    width: 50%;
}
.inner_section {
    padding: 0;
}
.service-list {
    font-size: 14px;
    margin-bottom: 40px;
    padding: 0;
}
.service-list-col1 {
    float: left;
    text-align: center;
    width: 60px;
}
.service-list-col1 i {
    color: #888;
    font-size: 19px;
    font-style: normal;
    line-height: 20px;
}
.service-list-col2 {
    overflow: hidden;
}
.page_section.alabaster {
    background: #fafafa none repeat scroll 0 0;
}
.work_bottom {
    padding: 20px 0 0;
}
.work_bottom span {
    color: #333333;
    display: block;
    font-size: 18px;
    margin: 0 0 20px;
}
a.contact_btn {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #ed5441;
    border-radius: 3px;
    color: #ed5441;
    display: block;
    font-family: "Raleway",sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 49px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
    width: 176px;
}
a.contact_btn:hover {
    background: #ed5441 none repeat scroll 0 0;
    color: #fff;
}
.input-text {
    background: transparent none repeat scroll 0 0;
}
#Portfolio {
    padding: 60px 0;
}
.Portfolio-nav {
    list-style: outside none none;
    margin: 0 0 45px;
    padding: 0;
    text-align: center;
}
.Portfolio-nav li {
    display: inline;
    margin: 0 10px;
}
.Portfolio-nav li a {
    background: #f7f7f7 none repeat scroll 0 0;
    border-radius: 4px;
    color: #222222;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 5px;
    padding: 10px 22px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
}
.Portfolio-nav li a:hover {
    background: #ed5441 none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
.portfolioContainer {
    margin: 0 auto;
    padding-left: 15px;
    width: auto !important;
}
.Portfolio-box {
    float: left;
    overflow: hidden;
    padding: 12px 0;
    text-align: center;
    width: 350px;
}
.Portfolio-box img {
    transition: all 0.3s ease-in-out 0s;
}
.Portfolio-box img:hover {
    opacity: 0.6;
}
.Portfolio-nav li a.current {
    background: #ed5441 none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
img {
    max-width: 100%;
}
.isotope .isotope-item {
    transition-duration: 0.6s;
}
.isotope .isotope-item {
    transition-property: transform, opacity;
}
.page_section.paddind {
    padding-bottom: 60px;
}
#clients {
    padding: 60px 0;
}
.client_area {
    margin: 0 auto;
    width: 960px;
}
.client_section {
    padding: 35px 0 0;
}
.client_section.btm {
    padding: 20px 0 0;
}
.client_profile {
    float: left;
    text-align: center;
}
.client_profile.flt {
    float: right;
}
.client_profile_pic {
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    height: 220px;
    margin: 0 0 15px;
    width: 220px;
}
.client_profile_pic img {
    border: 3px solid #f5f5f5;
    border-radius: 50%;
}
.client_profile h3 {
    color: #49b5e7;
    font-size: 18px;
    margin: 0;
}
.client_profile span {
    color: #888888;
    display: block;
    font-size: 16px;
}
.client_logos {
    background: #11d25d none repeat scroll 0 0;
    margin-top: 60px;
    padding: 60px 0;
}
.client_logos ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.client_logos ul li {
    display: inline;
    margin: 0 25px;
}
.client_logos ul a {
    display: inline-block;
    margin: 0 20px;
}
.page_section.team {
    padding: 60px 0;
}
.page_section.team h6 {
    margin-bottom: 40px;
}
.aboutUs-container {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
#about-us, h2, h3, h6, p {
    color: #0a1525;
}
#about-us .read-more {
    border: 1px solid #ed5441;
    color: #1a1a1a;
}
#about-us .read-more:hover {
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    color: #fff;
}
.about-us-post-container {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.about-us {
}
.about-us h3 {
    font-size: 28px;
}
.points {
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 0;
}
.about-us p {
    line-height: 1.625em;
    padding: 15px 0;
}
.about-us .about-us-list {
    list-style: outside none none;
    margin-bottom: 20px;
    padding-left: 0;
}
.about-us .points {
    list-style-type: none;
    padding: 5px 0 5px 30px;
    position: relative;
}
.about-us .points::before {
    color: #f74d4d;

    font-family: FontAwesome;
    font-size: 1.125em;
    left: 0;
    position: absolute;
    top: 3px;
}
.about-us-link a:first-child {
    margin-left: 0;
}
.team_section {
    margin: 0 auto;
    max-width: 993px;
}
.team_area {
    float: left;
    margin-right: 3.82979%;
    overflow: hidden;
    text-align: center;
    width: 30.66%;
}
.team_area span {
    display: block;
    margin-bottom: 24px;
}
.team_area:nth-of-type(3n) {
    margin: 0;
}
.team_box {
    border-radius: 50%;
    height: auto;
    margin: 0 3px 25px;
    position: relative;
    width: auto;
}
.team_box_shadow a {
    display: block;
    height: 100%;
    width: 100%;
}
.team_box:hover .team_box_shadow {
    box-shadow: 0 0 0 148px rgba(17, 17, 17, 0.8) inset;
}
.team_box:hover ul {
    display: block;
    opacity: 1;
}
.team_box img {
    border-radius: 0;
    display: block;
    margin: 0 auto;
    width: 90%;
}
.team_box ul {
    display: block;
    left: 0;
    list-style: outside none none;
    margin: -14px 0 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 88%;
    transition: all 0.6s ease-in-out 0s;
    width: 100%;
    z-index: 15;
}
.team_box ul li {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block;
    margin: 0 11px 5px;
    padding: 10px 0 4px;
    width: 34px;
}
.team_box ul li a {
    color: #232323;
    display: inline-block;
    font-size: 18px;
    transition: all 0.3s ease-in-out 0s;
}
.team_box ul li a:hover, .team_box ul li a:focus {
    text-decoration: none;
}
.team_box ul li a.fa-twitter:hover {
    color: #55acee;
}
.team_box ul li a.fa-facebook:hover {
    color: #3b5998;
}
.team_box ul li a.fa-pinterest:hover {
    color: #cb2026;
}
.team_box ul li a.fa-google-plus:hover {
    color: #dd4b39;
}
.img-circle {
    border-radius: 50%;
}
.centered {
    text-align: center;
}
#team .fa {
    background-color: #11d25d;
    border-radius: 100%;
    color: #fff;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    margin: 0 3px;
    outline: 0 none;
    transition: all 0.3s ease 0s;
    width: 30px;
}
#aboutUs {
    background: #fff none repeat scroll 0 0;
    padding: 60px 0;
}
.page_section.contact {
    padding: 90px 0 100px;
}
.contact_section {
    margin: 0 0 60px;
}
.contact_section h2 {
    color: #ffffff;
    font-size: 40px;
    margin: 0 0 50px;
    text-transform: uppercase;
}
.contact_block {
    text-align: center;
}
.contact_block_icon {
    border-radius: 50%;
    height: 85px;
    margin: 0 auto 20px;
    width: 85px;
}
.contact_block_icon.icon2 {
    border-color: #ed5441;
}
.contact_block_icon.icon3 {
    border-color: #49b5e7;
}
.contact_block_icon span {
    background: #f56eab none repeat scroll 0 0;
    border: 5px solid #fff;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}
.contact_block_icon.icon2 {
    border-color: #ed5441;
}
.contact_block_icon.icon2 span {
    background: #ed5441 none repeat scroll 0 0;
}
.contact_block_icon.icon3 {
    border-color: #49b5e7;
}
.contact_block_icon.icon3 span {
    background: #49b5e7 none repeat scroll 0 0;
}
.contact_block_icon i {
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    position: relative;
    top: 26px;
    z-index: 20;
}
.contact_block span {
    color: #ffffff;
    display: block;
    font-size: 16px;
    line-height: 20px;
}
.contact_block span a {
    color: #ffffff;
    display: block;
    font-size: 16px;
    line-height: 20px;
}
.contact_info {
    font-size: 15px;
    margin: 0 0 0 20px;
    padding-left: 0;
}
.contact_info h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 30px;
}
.contact_info p {
    color: #ffffff;
    display: block;
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 30px;
}
.social_links {
    display: block;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.social_links li {
    float: left;
    margin-right: 4px;
}
.social_links li a {
    color: #fff;
    display: block;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
.social_links li a:hover, .social_links li a:focus {
    border-radius: 80px;
    text-decoration: none;
}
.twitter a:hover {
    color: #55acee;
}
.facebook a:hover {
    color: #3b5998;
}
.pinterest a:hover {
    color: #cb2026;
}
.gplus a:hover {
    color: #dd4b39;
}
.form {
    margin: 0 66px 0 30px;
}
.input-text {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #aaa;
    display: block;
    font-size: 15px;
    height: 50px;
    margin: 0 0 15px;
    padding: 15px 16px;
    transition: all 0.3s ease-in-out 0s;
    width: 100%;
}
.input-text:focus {
    border: 1px solid #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(124, 197, 118, 0.3);
    outline: 0 none;
}
.input-text.text-area {
    height: 230px;
    overflow: auto;
    resize: none;
}
.input-btn {
    background: #f74d4d none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    letter-spacing: 0;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    width: 175px;
}
.input-btn:hover {
    background: #fff none repeat scroll 0 0;
    color: #222;
}
.footer_wrapper {
    background: #0a1525 none repeat scroll 0 0;
}
.footer_bottom {
    border-top: 1px solid #3c3a3a;
    padding: 25px 0;
}
.footer_bottom span {
    color: #cccccc;
    display: block;
    font-size: 14px;
    text-align: center;
}
.footer_bottom span a {
    color: #e04b4d;
    display: inline-block;
    font-size: 16px;
    transition: all 0.3s ease-in-out 0s;
}
.footer_bottom span a:hover {
    color: #fff;
}
.delay-02s {
    animation-delay: 0.2s;
}
.delay-03s {
    animation-delay: 0.3s;
}
.delay-04s {
    animation-delay: 0.4s;
}
.delay-05s {
    animation-delay: 0.5s;
}
.delay-06s {
    animation-delay: 0.6s;
}
.delay-07s {
    animation-delay: 0.7s;
}
.delay-08s {
    animation-delay: 0.8s;
}
.delay-09s {
    animation-delay: 0.9s;
}
.delay-1s {
    animation-delay: 1s;
}
.delay-12s {
    animation-delay: 1.2s;
}
.container.portfolio_title {
    padding-bottom: 0;
}
#portfolio {
    padding: 60px 0 40px;
}
#filters {
    display: block;
    float: none;
    margin-bottom: 40px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    z-index: 2;
}
#filters ul li {
    display: inline-block;
    margin: 0 5px;
}
#filters ul li a {
    display: block;
}
#filters ul li a h5 {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    color: #7c7c7c;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 5px;
    padding: 10px 22px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
}
#filters ul li a:hover h5, #filters ul li a.active h5 {
    background: #f74d4d none repeat scroll 0 0;
    border: 1px solid #f74d4d;
    color: #ffffff;
    text-decoration: none;
}
.section-title h2 {
    color: #222222;
    font-family: "Raleway",sans-serif;
    font-size: 34px;
    letter-spacing: -1px;
    margin: 0 0 15px;
    text-align: center;
    text-transform: uppercase;
}
.section-title span {
    color: #888888;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 60px;
    text-align: center;
}
#techSkills {
    padding: 80px 0 60px;
}
.progress {
    background-color: #f5f5f5;
    border-radius: 0;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.progress {
    height: 25px;
    position: relative;
}
.progress > .progress-type {
    background-color: rgba(25, 25, 25, 0.2);
    color: rgba(255, 255, 255, 0.54);
    font-weight: 400;
    left: 0;
    padding: 3px 30px 2px 10px;
    position: absolute;
}
.progress > .progress-completed {
    font-weight: 400;
    padding: 3px 10px 2px;
    position: absolute;
    right: 0;
}
#portfolio_wrapper {
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
}
#portfolio_wrapper .one-four {
    line-height: 0;
    margin: 0 !important;
    padding: 0;
    position: relative;
    width: 25%;
}
.portfolio-item {
    overflow: hidden;
    padding: 0;
    position: relative;
}
.portfolio-item .portfolio_img {
    display: block;
    overflow: hidden;
    position: relative;
}
.portfolio-item .portfolio_img img {
    height: auto;
    width: 100%;
}
.portfolio-item:hover .item_overlay {
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.item_overlay {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.open-project-link {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
}
.item_overlay:hover {
    background: rgba(89, 89, 89, 0.7) none repeat scroll 0 0;
}
.item_info {
    height: 100px;
    margin-top: -50px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
.project_name {
    color: #fff;
    font-size: 18px;
    margin-top: 25px;
    opacity: 0;
    position: relative;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
    z-index: 10;
}
.portfolio-item:hover .project_name {
    opacity: 1;
    transition: opacity 0.1s ease 0.2s;
}
.project_catg {
    color: #fff;
    font-size: 14px;
    margin-top: 0;
    opacity: 0;
    transition: all 0.2s ease 0s;
}
.portfolio-item:hover .project_catg {
    opacity: 0.8;
    transition: opacity 0.1s ease 0.2s;
}
.zoom-icon {
    background: rgba(0, 0, 0, 0) url("images/download.png") repeat scroll 0 0 / 40px 40px;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    margin-top: 40px;
    opacity: 0;
    position: inherit;
    transition: all 0.3s ease 0.2s;
    width: 40px;
}
.portfolio-item:hover .zoom-icon {
    margin-top: 0;
    opacity: 1;
    transition: opacity 0.3s ease 0.2s, margin-top 0.3s ease 0.2s;
}
.isotope, .isotope .isotope-item {
    transition-duration: 0.8s;
}
.isotope {
    transition-property: height, width;
}
.isotope .isotope-item {
    transition-property: transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    transition-duration: 0s;
}
#project_container {
    background-color: #fff;
    display: none;
}
#project-page-button-fullscreen {
    height: auto;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 100;
}
#project-page-button-fullscreen li {
    display: inline-block;
    font-size: 30px;
}
#project-page-button-fullscreen li a {
    background: #fff url("images/close.png") no-repeat scroll 0 0 / 50px 50px;
    border-radius: 50px;
    display: block;
    height: 50px;
    opacity: 0.5;
    width: 50px;
}
#project-page-button-fullscreen li a:hover {
    opacity: 1;
}
#project-page-button {
    height: auto;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    z-index: 100;
}
#project-page-button li {
    display: inline-block;
    font-size: 30px;
    margin: 60px 10px 0;
}
#project_data {
    margin-bottom: 0;
}
.project-section-title {
    margin-bottom: 40px;
    text-align: center;
}
.project-section-title h1 {
    font-family: "Raleway",sans-serif;
    letter-spacing: 1px;
    margin-bottom: 5px !important;
}
.project-page {
    background-color: #fff;
    height: auto;
    left: 0;
    padding-bottom: 40px;
    width: 100%;
}
.project-image-slider .bx-wrapper .bx-next {
    background: rgba(0, 0, 0, 0) url("images/project_slider_right.png") no-repeat scroll 0 0 / 35px 65px;
    opacity: 0.3;
    right: -90px;
}
.project-image-slider .bx-wrapper .bx-prev {
    background: rgba(0, 0, 0, 0) url("images/project_slider_left.png") no-repeat scroll 0 0 / 35px 65px;
    left: -90px;
    opacity: 0.3;
}
.project-image-slider .bx-wrapper .bx-next:hover, .project-image-slider .bx-wrapper .bx-prev:hover {
    background-position: 0 center;
    opacity: 1;
}
.project-image-slider .bx-wrapper .bx-controls-direction a {
    height: 65px;
    margin-top: -33px;
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 35px;
    z-index: 100;
}
.project-description {
    height: auto;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 100%;
}
.small-border {
    background-color: #ddd;
    height: 2px;
    margin-bottom: 15px;
    width: 50px;
}
.visit-project {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding: 55px 0 20px;
    text-align: center;
    width: 100%;
}
.project-description h5 {
    color: #222222;
    margin-bottom: 5px;
    text-transform: uppercase;
}
#cycle-loader {
    height: 32px;
    left: 50%;
    margin: -8px 0 0 -8px;
    position: absolute;
    top: 50%;
    width: 32px;
    z-index: 999;
}
#arrow_left {
    height: 60px;
    left: 30px;
    margin-top: -30px;
    position: absolute;
    top: 50%;
    width: 32px;
    z-index: 1000;
}
#arrow_right {
    height: 60px;
    margin-top: -30px;
    position: absolute;
    right: 30px;
    top: 50%;
    width: 32px;
    z-index: 1000;
}
#arrow_left:hover, #arrow_right:hover {
    margin-top: -28px;
}
#arrow_left:active, #arrow_right:active {
    margin-top: -28px;
}
div.mc-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    transition: opacity 1s ease-in-out 0s;
    width: 100%;
}
.in-slide-content div.info-slide {
    background: #fff url("images/info.png") no-repeat scroll left bottom / 46px 46px;
    border-radius: 23px;
    cursor: pointer;
    display: block;
    height: 46px;
    left: 30px;
    margin: 0;
    opacity: 0.5;
    position: absolute;
    text-indent: 10px;
    top: 30px;
    transition: all 0.3s ease 0s;
    width: 46px;
    z-index: 1000;
}
.in-slide-content div.info-slide:hover {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    bottom: 40px;
    opacity: 1;
    padding: 10px 20px;
    position: absolute;
    text-indent: 0;
    width: 200px;
    z-index: 1000;
}
.in-slide-content h2, .in-slide-content p {
    font-size: 12px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
.in-slide-content h2 {
    color: #444;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    text-shadow: none;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 1001;
}
.info-slide p {
    color: #aaa;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    position: relative;
    text-shadow: none;
    white-space: nowrap;
    z-index: 1001;
}
.in-slide-content div.info-slide h2 {
    display: none;
    padding: 10px 10px 0;
}
.in-slide-content div.info-slide p {
    display: none;
    padding: 0 10px 10px;
}
.in-slide-content div.info-slide:hover h2, .in-slide-content div.info-slide:hover p {
    display: inherit;
    padding: 0;
}
.timeline {
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}
.timeline::before {
    border-right: 1px solid #f74d4d;
    content: "";
    display: block;
    height: 100%;
    left: 1px;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: -1;
}
.timeline::after {
    border-right: 1px dashed #f74d4d;
    bottom: -105px;
    content: "";
    display: block;
    height: 100px;
    left: 1px;
    position: absolute;
    width: 50%;
    z-index: -1;
}
.timeline .date-title {
    margin: 70px 0 50px;
    text-align: center;
}
.timeline .date-title span {
    background: #f74d4d none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    padding: 15px 30px;
}
.news-item {
    padding-bottom: 45px;
}
.news-item.right {
    float: right;
    margin-top: 40px;
}
.news-item .news-content {
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 10px;
    box-shadow: -5px 5px 0 rgba(0, 0, 0, 0.08);
    margin: 20px 30px 0 0;
    padding: 30px 30px 30px 100px;
    position: relative;
    transition: all 0.3s ease-out 0s;
}
.news-item:hover .news-content {
    background: #f74d4d none repeat scroll 0 0;
    color: #fff;
}
.news-item.right .news-content {
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.08);
    margin: 20px 0 0 30px;
}
.news-item .news-content::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent none repeat scroll 0 0;
    border-color: transparent transparent transparent #f5f5f5;
    border-image: none;
    border-style: solid;
    border-width: 20px;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: -40px;
    top: 50px;
    transition: border-left-color 0.3s ease-out 0s;
    width: 0;
}
.news-item.right .news-content::after {
    border-left: 20px solid transparent;
    border-right: 20px solid #f5f5f5;
    left: -40px;
    position: absolute;
    right: auto;
    transition: border-right-color 0.3s ease-out 0s;
}
.news-item:hover .news-content::after {
    border-left-color: #f74d4d;
}
.news-item.right:hover .news-content::after {
    border-left-color: transparent;
    border-right-color: #f74d4d;
}
.news-item .news-content::before {
    background: #f74d4d none repeat scroll 0 0;
    border: 3px solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    right: -55px;
    top: 60px;
    transition: background 0.3s ease-out 0s;
    width: 20px;
}
.news-item.right .news-content::before {
    left: -55px;
    right: auto;
}
.news-content .date {
    color: #f74d4d;
    height: 80px;
    left: 10px;
    position: absolute;
    text-align: center;
    transition: color 0.3s ease-out 0s;
    width: 80px;
}
.news-item:hover .news-content .date {
    color: #fff;
}
.news-content .date p {
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;
    margin: 0;
}
.news-content .date small {
    font-size: 26px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
}
.news-content .news-title {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 4px;
    text-align: left;
}
.news-content p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 24px;
    margin-bottom: 10px;
}
.news-content .read-more, .news-content .read-more:hover, .news-content .read-more:active, .news-content .read-more:focus {
    color: #7a7c7f;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0;
    text-decoration: none;
}
.news-item:hover .news-content .read-more, .news-item:hover .news-content .read-more:hover, .news-item:hover .news-content .read-more:active, .news-item:hover .news-content .read-more:focus {
    color: #fff;
}
.news-content .read-more {
    transition: padding 0.3s ease-out 0s;
}
.news-content .read-more:hover {
    padding-left: 7px;
}
.news-content .read-more::after {
    color: #f74d4d;
    content: "";
    font-family: "FontAwesome";
    font-size: 21px;
    line-height: 21px;
    padding-left: 15px;
    transition: padding 0.3s ease-out 0s;
    vertical-align: middle;
}
.news-content .read-more:hover::after {
    padding-left: 20px;
}
.news-item:hover .news-content .read-more::after {
    color: #fff;
}
.news-content .news-media {
    border-radius: 8px;
    bottom: -45px;
    position: absolute;
    right: 40px;
    width: 80px;
}
.news-content .news-media img {
    border-radius: 8px;
    transform: scale(1);
    transition: transform 0.3s ease-out 0s;
}
.news-content .news-media a {
    background: #fff none repeat scroll 0 0;
    border-radius: 8px;
    display: block;
    overflow: hidden;
    text-decoration: none;
}
.news-content .news-media a:hover img {
    transform: scale(1.3);
}
.news-content .news-media a::after {
    color: #f74d4d;
    content: "";
    font-family: FontAwesome;
    font-size: 32px;
    left: 0;
    line-height: 80px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transform: scale(0);
    transition: all 0.2s ease-out 0.1s;
    width: 100%;
}
.news-content .news-media.video a::after {
    content: "";
}
.news-content .news-media a:hover::after {
    opacity: 1;
    transform: scale(1);
}
.news-content .news-media.gallery {
    box-shadow: 4px 4px 0 #bbb, 8px 8px 0 #ddd;
}
@media (min-width: 768px) and (max-width: 1200px) {
.aboutUs-container {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 59%;
}
}
@media (max-width: 768px) {
.navStyle {
    float: right;
    text-align: center;
    width: auto;
}
.aboutUs-container {
    background-image: none;
}
p {
    font-size: 14px;
}
.top_cont_outer {
    height: 335px;
}
.hero_section {
    padding-top: 10px;
    position: relative;
}
.top_left_cont {
    padding: 38px 0;
}
.top_left_cont h2 {
    color: #fff;
    font-size: 25px;
    line-height: 39px;
    margin: 0 0 9px;
}
.inner_section {
    padding: 20px 0;
}
#aboutUs img {
    margin-bottom: 20px;
}
#aboutUs h3 {
    font-size: 26px;
    line-height: 22px;
}
.service_block h3 {
    font-size: 16px;
}
service_block p {
    font-size: 14px;
    margin: 0 0 20px;
}
#filters ul {
    padding-left: 0;
}
.form {
    margin: 0 18px;
}
.page_section.team {
    padding: 40px 0;
}
.client_logos ul li {
    display: inline-block;
    margin: 0 25px;
    padding: 11px 0;
}
.social_links li {
    float: left;
}
.contact_section {
    margin: 0;
}
h2, .contact_section h2 {
    font-size: 30px;
}
.page_section.contact {
    padding: 60px 0 50px;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background: #ffffff none repeat scroll 0 0;
}
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    outline: medium none;
}
.navStyle ul li {
    display: block;
}
.navStyle {
    float: right;
    text-align: center;
    width: 100%;
}
.navbar {
    border: 0 solid #fff;
    float: right;
    margin-bottom: 0;
    min-height: 40px;
}
.navStyle ul li {
    display: block;
    margin: 0;
}
.navStyle ul li:last-child {
    margin: 0;
}
.navbar-inverse .navbar-nav > li > a {
    color: #d0d0d0;
    font-size: 14px;
    padding: 10px 11px;
}
}
@media (max-width: 480px) {
.navStyle {
    float: left;
    margin-top: 20px;
    text-align: left;
    width: 100%;
}
.navbar {
    border: 0 solid #fff;
    float: initial;
    margin-bottom: 0;
    min-height: 40px;
    width: 100%;
}
.team_area {
    width: 99%;
}
.read_more2 {
    display: none;
}
}
